@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --primary-white-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --text-color: #757575;
  --background-color-wan: #2f303a;
  --backgroynd-color-two: #f5f4fa;
  --border-color: #ececec;
  --oformleni-color: #afb1b8;
}

body {
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-bottom: 94px;
}

.section-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* heder */
.page-header {
  background: var(--primary-white-color);
  border-bottom: 1px solid var(--border-color);
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24.5px 0;
}

.list {
  list-style: none;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.logo-color {
  color: var(--accent-color);
}

.page-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}

.page-header__item:not(:last-child) {
  margin-left: 0;
  margin-right: 50px;
}

.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-header__list {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page-header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-color);
  text-decoration: none;
  color: var(--title-text-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__link:hover {
  color: var(--accent-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__link:focus {
  color: var(--accent-color);
  outline: 1px solid var(--accent-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__link:focus .page-header__icon--tell {
  fill: var(--accent-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__nav--list {
  position: relative;
}

.page-header__link--active {
  position: relative;
  color: var(--accent-color);
}

.page-header__link--active::after {
  display: block;
  position: absolute;
  content: "";
  top: 45px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__icon--mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.page-header__icon--tell {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.page-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--background-color-wan);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  fill: var(--text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__item:hover, .page-header__item:focus {
  fill: var(--accent-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  color: #757575;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  color: var(--accent-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary-top {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px 10px 32px;
}
.button.primary-top:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__section {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/fon.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/fon.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero__title {
  color: var(--primary-white-color);
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-height: 541px;
  min-width: 448px;
  border-radius: 14px;
  background-color: var(--primary-white-color);
  padding: 40px 40px 0;
}

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature__title {
  visibility: hidden;
  margin-bottom: -30px;
}

.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.specifics {
  padding-top: 30px;
}

.feature__icon {
  width: 270px;
  height: 120px;
  background: var(--backgroynd-color-two);
  border: 1px solid var(--backgroynd-color-two);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feature__icon:hover, .feature__icon:focus {
  border-color: var(--accent-color);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feature__item:not(:last-child) {
  padding-right: 30px;
  padding-bottom: 10px;
}

.feature__text {
  padding-top: 10px;
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
  text-transform: none;
}

.works {
  padding-bottom: 94px;
  text-align: center;
}

.works__title {
  margin-bottom: 50px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.works__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: -1;
}

.works__name {
  position: absolute;
  width: 370px;
  height: 70px;
  top: 224px;
  background: rgba(47, 48, 58, 0.8);
}

.works__name p {
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.comanda {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--backgroynd-color-two);
}

.comanda__title {
  margin-bottom: 50px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.comanda__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comanda__item {
  text-align: center;
  background: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name-container {
  padding: 30px 0;
}

.comanda__name {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.p-name {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-color);
}

.social__icons {
  fill: var(--oformleni-color);
}

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--oformleni-color);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box__link:focus, .box__link:hover {
  border: 1px solid #2196f3;
  outline: 0px solid var(--accent-color);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box__item:not(:last-child) {
  margin-right: 30px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box__item:not(:last-child):focus, .box__item:not(:last-child):hover .box__icon {
  fill: var(--accent-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box__icon {
  fill: var(--oformleni-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box__icon:focus, .box__icon:hover {
  fill: var(--accent-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--background-color-wan);
  padding: 60px 0 50px 0;
}

.footer__logo--color {
  color: var(--accent-color);
}

.footer__logo {
  color: var(--backgroynd-color-two);
}

/* address */
.footer__address {
  color: var(--primary-white-color);
  display: block;
}

.address {
  padding-top: 20px;
}

.info {
  margin-bottom: 9px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
}

.address__street {
  color: var(--primary-white-color);
}

.address__contact {
  color: rgba(255, 255, 255, 0.6);
}

.logo-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social {
  padding-left: 70px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 10px;
}

.social__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background: var(--accent-color);
  outline: 0;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover .social__icons, .social__link:focus .social__icons {
  fill: var(--primary-white-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover .social-icon-comand, .social__link:focus .social-icon-comand {
  fill: var(--primary-white-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
  fill: var(--primary-white-color);
}

.social__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 10px;
}

.social__title {
  color: var(--primary-white-color);
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* activ */
.activ-menu {
  padding-top: 10px;
  padding-left: 93px;
}

.subscription__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
  color: #ffffff;
}

.subscription__mailing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscription__input {
  width: 358px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding: 15px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  margin-left: 12px;
}

.subscription__icon {
  position: absolute;
  left: 148px;
  top: 15px;
}

/* Меню */
.menu {
  padding-top: 94px;
  padding-bottom: 50px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__items {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.menu__button {
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  background-color: var(--backgroynd-color-two);
  -webkit-transition: background-color 250ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__button:hover, .menu__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: 0px;
  -webkit-transition: background-color 250ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__button--active {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.menu__items:not(:last-child) {
  margin-left: 0;
  margin-right: 8px;
}

/* <-- група послуг --> */
.services {
  padding-bottom: 94px;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 0px solid var(--backgroynd-color-two);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.services__item:hover .services__fon {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 1;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.services__item:hover, .services__item:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.services__item img {
  display: block;
}

.services__item:nth-child(3n) {
  margin-right: 0;
}

.services__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.services__link {
  text-decoration: none;
  position: relative;
}

.services__picture {
  position: relative;
  overflow: hidden;
}

.services__fon {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  opacity: 1;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.services__info {
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  opacity: 1;
}

.services__section {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.services__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  padding-bottom: 4px;
}

.services__kind {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* formu */
.modal__title {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form__field {
  margin-bottom: 10px;
}

.form__lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  padding-bottom: 4px;
  color: #757575;
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form-textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* чекбокс */
.form__field.checkbox {
  display: block;
  margin-bottom: 30px;
}

.form__lable--check {
  padding-left: 36px;
}

.visually {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.form__check--box {
  position: absolute;
  width: 16px;
  height: 15px;
  margin-left: -23px;
  margin-top: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 0 2px #212121;
          box-shadow: 0 0 0 2px #212121;
}

.form__input--check:checked + .form__check--box {
  -webkit-box-shadow: 0 0 0 2px rgb(33, 150, 243);
          box-shadow: 0 0 0 2px rgb(33, 150, 243);
  background-image: url("../svg/checked.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: var(--accent-color);
}

.form__lable--check {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 12px;
}

.form__link {
  color: var(--accent-color);
  font-weight: 400;
  text-decoration: underline;
}

.form__button {
  font-family: inherit;
  height: 50px;
  width: 200px;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  border: none;
  background-color: var(--primary-white-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: stroke 250ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke 250ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close:hover {
  fill: var(--accent-color);
  stroke: var(--accent-color);
  -webkit-transition: stroke 250ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke 250ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field {
  position: relative;
}

.form__field:focus {
  background: var(--accent-color);
  outline: 0;
  fill: #2196f3;
  -webkit-transition: fill 250ms, background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms, background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  fill: var(--title-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  border: 1px solid rgb(33, 150, 243);
  fill: var(var(--accent-color));
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus:focus, .form__input:focus:focus + .form__icon {
  outline: 0;
  -webkit-transition: background, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196f3;
}

.footer {
  background-color: var(--background-color-wan);
  padding: 60px 0 50px 0;
}

.footer__logo--color {
  color: var(--accent-color);
}

.footer__logo {
  color: var(--backgroynd-color-two);
}

/* address */
.footer__address {
  color: var(--primary-white-color);
  display: block;
}

.address {
  padding-top: 20px;
}

.info {
  margin-bottom: 9px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
}

.address__street {
  color: var(--primary-white-color);
}

.address__contact {
  color: rgba(255, 255, 255, 0.6);
}

.logo-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social {
  padding-left: 70px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 10px;
}

.social__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background: var(--accent-color);
  outline: 0;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover .social__icons, .social__link:focus .social__icons {
  fill: var(--primary-white-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover .social-icon-comand, .social__link:focus .social-icon-comand {
  fill: var(--primary-white-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
  fill: var(--primary-white-color);
}

.social__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 10px;
}

.social__title {
  color: var(--primary-white-color);
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* activ */
.activ-menu {
  padding-top: 10px;
  padding-left: 93px;
}

.subscription__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
  color: #ffffff;
}

.subscription__mailing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscription__input {
  width: 358px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding: 15px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  margin-left: 12px;
}

.subscription__icon {
  position: absolute;
  left: 148px;
  top: 15px;
}/*# sourceMappingURL=styles.css.map */