@import "./utils/variables";
@import "./normalize";
@import "./components/page-header";
@import "./components/hero__section";
@import "./components/modal";
@import "./components/feature";
@import "./components/works";
@import "./components/comanda";
@import "./components/customers";
@import "./components/footer";
@import "./components/menu";
@import "./components/services";
@import "./components/formu";
@import "./components/footer";
