.comanda {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--backgroynd-color-two);
}

.comanda__title {
  margin-bottom: 50px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.comanda__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comanda__item {
  text-align: center;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name-container {
  padding: 30px 0;
}

.comanda__name {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.p-name {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-color);
}

.social__icons {
  fill: var(--oformleni-color);
}
