.hero__section {

  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  
  @media screen and (min-width: 1200px) {
      max-width: 1600px;
        height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/laptop/header-img.jpg");
      @media(min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/laptop/header-img@2x.jpg");
    }
  }
  @media screen and (max-width: 1199px) {
      max-width: 1199px;
      height: 400px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url("../images/tablet/Header-img.jpg");
    @media(min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/tablet/Header-img@2x.jpg");
    }
  }
  @media screen and (max-width: 767px) {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url("../images/mobile/Header-img.jpg");
    @media(min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/mobile/Header-img@2x.jpg");
    }
  }
}

.container__hero {
  @media screen and (max-width: 1200px) {
    padding: 200px 0;
  }
  @media screen and (max-width: 1199px) {
    padding: 118px 0;
  }
}
.hero__title {
  color: var(--primary-white-color);
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;

  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.61;
  }
}