/* heder */
.page-header {
  background: var(--primary-white-color);
  border-bottom: 1px solid var(--border-color);
  position: relative;
}

.header-inner {
display: block;
}

.page-header__nav {
  @media screen and (max-width:767px) {
  display: block;
  position:inherit;
  }
  @media screen and (min-width:768px) {
 display: flex;
  }
}

.pos {
  position:inherit;
}

.logo {
text-decoration: none;
font-family: Raleway, sans-serif;
color: var(--title-text-color);
font-weight: 700;
line-height: 1.17;
@media screen and (min-width: 1200px) {
    display: flex;
    font-size: 26px;
    padding: 24px 0 25px 15px;
  }
    @media screen and (max-width: 1199px) {
      padding: 26px 0;
      font-size: 24px;
    }
@media screen and (max-width: 767px) {
  padding: 16px 0;
}


}

.logo-color {
  color: var(--accent-color);
}

.button__logo {

  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  padding: 10px 0;
  right: 15%;
  top: 15%;
  z-index: 30;
@media screen and (min-width: 768px) {
  display: none;
}
}

.button__logos {
  position: absolute;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  right: 10px;
  top: 10px;
  z-index: 50;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.page-header__link {
  color: var(--text-color);
  text-decoration: none;
  color: var(--title-text-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: 1.175;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.17;
  }


  &:hover {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:focus {
    color: var(--accent-color);
    outline: 1px solid var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.page-header__link--mail, 
.page-header__link--tell {
    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 1.16;
        color: #757575;
    }
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.14;
        color: #757575;
    }
}

.page-header__link:focus .page-header__icon--tell {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__logo:hover:focus .icon-menu {
  fill:#2196F3;
  }
.button__logo:hover:focus .icon-cross {
  fill:#2196F3;
  }

  .button__logos:hover:focus .icon-menu {
  fill:#2196F3;
  }
.button__logos:hover:focus .icon-cross {
  fill:#2196F3;
  }

.page-header__link--mail {
  @media screen and (max-width: 767px) {
  font-size: 24px;
  line-height: 1.166;
}

}
.page-header__link--tell {
  @media screen and (max-width: 767px) {
  font-size: 34px;
  line-height: 1.176;
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  font-size: 12px;
  line-height: 1.16;
}
}

.page-header__list {
  @media screen and (max-width: 767px) {
  display: block;
  text-align: left;
  }
  display: flex;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}


.page-header__item--nav:not(:last-child) {
@media screen and (max-width: 767px) {
    margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  margin-left: 0;
  margin-right: 50px;
}
}

.page-header__item--contact:not(:last-child) {
@media screen and (max-width: 767px) {
  font-size: 34px;
  line-height: 40px;
  margin-bottom: 1.17;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  margin-left: 0;
  margin-right: 50px;
}

}
.position {

  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 450px;
}

.page-header__menu {
  @media screen and (max-width: 767px) {
  display: none;
}
@media screen and (min-width: 768px) {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
}



.page-header__menu.is-hidden {
display: block;
@media screen and (max-width: 767px){
position: absolute;
top: 0;
left: 0;
width: 100%;
background-color: #ffffff;
text-align: center;
display: block;
z-index: 30;
overflow-y:scroll;
}
@media screen and (min-width: 768px) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
}

.page-header__list--nav {
@media screen and (max-width: 767px) {
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  margin-left: 88px;
  padding-top: 32px;
  }
@media screen and (min-width: 1200px) {
  margin-left: 93px;
  padding-top: 32px;
  }
}

.page-header__list--contact {
position: relative;
@media screen and (max-width: 767px) {
  display: none;
}
@media screen and (min-width: 768px)and(max-width: 1199px) {
  display: block;
  padding-top: 21px;

  }
@media screen and (min-width: 1200px) {
  display:inline-flex;
  justify-content: flex-end;
  align-items: baseline;
  padding-top: 32px;
  }
}

.page-header__list--mobile {
  padding: 0 0 64px 40px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.page-header__link--active {
  position: relative;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
.page-header__link--active::after {
  display: block;
  position: absolute;
  content: "";
  top: 45px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}


.page-header__icon--mail {
    color: #757575;
@media screen and (max-width: 767px) {
  display: none;
}
@media screen and (min-width: 768px) {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
}

.page-header__icon--tell {
    color: #757575;
@media screen and (max-width: 767px) {
  display: none;
}
@media screen and (min-width: 768px) {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
}

.page-header__item {
  color: var(--background-color-wan);
  justify-content: space-evenly;
  fill: var(--text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
      fill: var(--accent-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.button {
  color: #757575;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   padding: 10px 32px 10px 32px;
    &:hover {
        color: var(--accent-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
}

.button.primary-top {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
}

.page-header__list-social {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    display: flex;
    padding-left: 40px;
    padding-bottom: 48px;


  @media screen and (min-width:768px){
  display: none;
}
}

.page-header__item-social {
  padding-right: 10px;
}

.social-border {
  color: #2196F3;
  text-decoration: none;
}

.page-header__item-social:nth-last-child(n+2) .social-border{
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.button__logos .icon-cross {
  display: none;
}

.button__logos.is-open .icon-cross {
  display: block;
  z-index: 55;
}

.button__logo .icon-menu {
  display: block;
}

.button__logo.is-open .icon-menu {
  display: none;
}