/* <-- група послуг --> */

.services {

  padding-bottom: 94px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
}

.services__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 0px solid var(--backgroynd-color-two);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover .services__fon {
        transform: translateY(-100%);
        opacity: 1;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      &:hover,
      &:focus {
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
          0px 2px 2px rgba(0, 0, 0, 0.12);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
}

.services__item img {
  display: block;
}

.services__item:nth-child(3n) {
  margin-right: 0;
}

.services__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.services__link {
  text-decoration: none;
  position: relative;
}

.services__picture {
  position: relative;
  overflow: hidden;
}

.services__fon {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.services__info {
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  opacity: 1;
}

.services__section {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.services__name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  padding-bottom: 4px;
}

.services__kind {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}